//todo: keep working on this. Has something to do with the logoContainer and the logo. Maybe html architecture needs to change in the header/nav.

//todo: Add display none or ensure opacity is 0 for the logo that is not being displayed.

.logoContainer {
	position: relative;
	// overflow: hidden; /* Ensure logos don't overflow */
	width: 68px; //needed for the logo to be visible
	height: 68px; //needed for the logo to be visible
}

.logo {
	position: absolute;
	opacity: 0;
	transform: translateX(var(--space-sm));
	// transition: opacity var(--duration-sm) ease-out, transform var(--duration-sm) ease-out;
}

.fadeIn {
	animation: fadeIn var(--duration-sm) ease-out forwards;
}

.fadeOut {
	animation: fadeOut var(--duration-sm) ease-out forwards;
}
