.logoContainer {
	position: relative;
}

.logo {
	position: absolute;
	opacity: 0;
	transform: translateX(calc(var(--space-sm) / -1));
	will-change: opacity, transform;
	transition: opacity var(--duration-sm) var(--ease-out), transform var(--duration-md) var(--ease-out);
}

.fadeIn {
	opacity: 1;
	transform: translateX(0);
}
