@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

.largeImage {
	position: relative;
}

.metaBox {
	padding-block: 0.25lh;
	padding-inline: 0.5lh 0.75lh;
	background-color: var(--color-accent);
	border-radius: var(--radius-default);
	max-width: 28ch;
	position: absolute;
	z-index: 2;
	left: var(--gutter, var(--space-lg));
	top: -1lh;
	will-change: background-color;
	transition: background-color var(--duration-2xl) var(--ease-out) var(--duration-xs);

	box-shadow: var(--shadow-box);

	@include viewport.breakpoint(sm) {
		top: calc(var(--space-base) / -1);
		left: auto;
		right: var(--gutter, var(--space-sm));
	}

	@include viewport.breakpoint(md) {
		right: 1lh;
	}

	> div > div {
		margin-block-start: 3px;

		@include viewport.breakpoint(sm) {
			margin-block-start: 4px;
		}
	}

	ul {
		line-height: var(--line-height-sm);
	}
}

.image {
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	place-items: center;
	padding-inline: var(--space-xl);
	// background-color: var(--surface-neutral);
	aspect-ratio: 3 / 2;
	overflow: hidden;
	user-select: none;

	&:not(.hero &) {
		border-radius: var(--radius-default);
	}

	.hero & {
		@include viewport.breakpoint(md) {
			border-radius: var(--radius-default);
		}

		@include viewport.breakpoint(md, max) {
			&::before {
				@include element.shadow-inset-pseudo;
			}
			&::before {
				z-index: 1;
			}
		}
	}

	img {
		object-fit: cover;
	}
}

.logoContainer {
	width: 75%;
	max-width: var(--logo-max-width, 500px);
	pointer-events: none;
	z-index: 1;
	margin-inline-start: var(--logo-offset, initial);

	svg {
		fill: var(--icon-over-image);
		filter: var(--shadow-svg);
	}
}

.hero .caption {
	@include viewport.breakpoint(md, max) {
		margin-inline: var(--gutter, var(--space-lg));
	}
}
