@use '@/styles/utils/element';
@use '@/styles/utils/viewport';

.themePicker {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: var(--space-sm);
	border: none;

	.options {
		display: grid;
		grid-auto-flow: inherit;

		> * {
			display: flex;
			padding-left: var(--space-xs);
			padding-right: var(--space-xs);
		}
	}

	legend,
	label span {
		@include element.visually-hidden;
	}

	input[type='radio'] {
		--input-border-width: 0.2em;

		appearance: none;
		width: var(--space-lg);
		height: var(--space-lg);
		border-radius: var(--radius-default);
		border: var(--input-border-width) solid var(--border-color);
		transition: background-color var(--duration-sm) ease-out, border-width var(--duration-sm) ease-out,
			border-color var(--duration-sm) ease-out, transform var(--duration-sm) ease-out;

		&:checked {
			border-width: calc(var(--input-border-width) * 2.5);
		}

		&.m {
			background-color: var(--p-color-magenta-500);

			&:checked {
				border-color: var(--border-color-m);
			}
		}

		&.c {
			background-color: var(--p-color-cyan-500);

			&:checked {
				border-color: var(--border-color-c);
			}
		}

		&.y {
			background-color: var(--p-color-yellow-500);

			&:checked {
				border-color: var(--border-color-y);
			}
		}

		&:checked {
			border-style: solid;
			background-color: var(--color-primary);
		}

		@include viewport.has-hover {
			cursor: pointer;

			&:hover:not(:checked) {
				border-color: var(--color-tertiary);
			}
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
}
