@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.wrapper > div {
	aspect-ratio: var(--ratio-portrait);
	width: 100%;
	border-radius: var(--radius-lg);
	border: 1px solid var(--p-color-gray-900);
	overflow: hidden;

	@include viewport.breakpoint(sm) {
		aspect-ratio: var(--ratio-landscape);
	}
	@include viewport.between(md, xl) {
		max-width: 82%;
	}
}
