@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.wrapper > div {
	aspect-ratio: var(--ratio-portrait);
	width: 100%;
	border-radius: var(--radius-default);
	overflow: hidden;

	@include viewport.breakpoint(sm) {
		aspect-ratio: var(--ratio-landscape);
	}
}
