@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

@use 'sass:math';

.component {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-base);

	@include viewport.breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
		gap: var(--space-lg);
	}
}

.cropIconContainer {
	position: absolute;
	top: calc(var(--space-lg) / -1);
	right: calc(var(--space-lg) / -1);
	width: var(--text-lg);
	transform: scaleX(-1);

	@include viewport.breakpoint(sm, max) {
		display: none;
	}

	@include viewport.between(sm, 1138px) {
		right: -21px;
	}

	svg {
		fill: currentColor;
		opacity: 0.1;
	}
}

.imageContainer {
	position: relative;

	@include viewport.breakpoint(sm) {
		margin-block-start: var(--space-sm);
	}
}

.image {
	position: relative;
	display: grid;
	place-items: center;
	padding-inline: var(--space-xl);
	border-radius: var(--radius-default);
	background-color: var(--surface-neutral);
	aspect-ratio: var(--ratio-landscape);
	overflow: hidden;
	user-select: none;

	transition: box-shadow var(--duration-2xl) var(--ease-out);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 2px 6px rgba(0, 0, 0, 0.15);

	img {
		object-fit: cover;

		@media not (prefers-reduced-motion: reduce) {
			transition: transform var(--duration-3xl) var(--ease-out);

			@include viewport.has-hover {
				transform: scale(1.02);
			}
		}
	}
}

.logoContainer {
	width: 100%;
	max-width: 338px;
	z-index: 1;

	svg {
		fill: var(--icon-over-image);
	}
}

.textContainer {
	--flow-space: var(--space-base);

	> * + * {
		margin-block-start: var(--flow-space);
	}
}

.title {
	@include typography.headline(xl);
	margin-block-end: var(--space-xs);
	max-width: var(--optimal-line-length-xs);
	text-wrap: initial;

	@include viewport.breakpoint(sm) {
		max-width: var(--optimal-line-length-2xs);
	}
}

.description {
	max-width: var(--optimal-line-length-base);
}

.button {
	display: inline-block;
	@include typography.link;
}
