@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

@use 'sass:math';

.component {
	--saturation: 0;

	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-base);

	@include viewport.has-hover(':hover', ':focus-within') {
		--saturation: 1;
	}

	@include viewport.breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
		gap: var(--space-lg);
	}
}

.cropIconContainer {
	position: absolute;
	top: calc(var(--space-lg) / -1);
	right: calc(var(--space-lg) / -1);
	width: var(--text-lg);

	svg {
		fill: currentColor;
		opacity: 0.1;
	}
}

.imageContainer {
	position: relative;

	@include viewport.breakpoint(sm) {
		margin-top: var(--space-sm);
	}

	figcaption {
		@include typography.caption;
		margin-top: var(--space-sm);
	}
}

.image {
	position: relative;
	display: grid;
	place-items: center;
	padding-left: var(--space-xl);
	padding-right: var(--space-xl);
	user-select: none;
	aspect-ratio: 3 / 2;

	img {
		object-fit: cover;
		border-radius: var(--radius-default);
		transition: filter 600ms ease-out;
		filter: saturate(var(--saturation));
	}
}

.logoContainer {
	width: 100%;
	max-width: 338px;
	z-index: 1;

	svg {
		fill: var(--icon-over-image);
	}
}

.textContainer {
	--flow-space: var(--space-base);

	> * + * {
		margin-top: var(--flow-space);
	}
}

.title {
	@include typography.headline(xl);
	margin-bottom: var(--space-xs);
	max-width: 17ch;
}

.button {
	display: inline-block;
	@include typography.link;

	&::after {
		content: '\00a0\00a0\2192';
		line-height: 1.7; //optical alignment
	}
}
