@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.heroImage {
	position: relative;
}

.metaBox {
	padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-base);
	background-color: var(--color-accent);
	border-radius: var(--radius-default);
	max-width: 28ch;
	position: absolute;
	z-index: 1;
	left: var(--gutter, var(--space-lg));
	top: calc(var(--gutter, var(--space-lg)) / -1);

	@include viewport.breakpoint(sm) {
		left: auto;
		right: var(--gutter, var(--space-sm));
	}
}

.image {
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	place-items: center;
	padding-left: var(--space-xl);
	padding-right: var(--space-xl);
	border-radius: var(--radius-default);
	background-color: var(--surface-neutral);
	aspect-ratio: 3 / 2;
	overflow: hidden;
	user-select: none;

	img {
		object-fit: cover;
	}
}

.logoContainer {
	width: 75%;
	max-width: var(--logo-max-width, 500px);
	pointer-events: none;
	z-index: 1;
	margin-left: var(--logo-offset, initial);

	svg {
		fill: var(--icon-over-image);
		filter: var(--svg-shadow);
	}
}
