@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

@use 'sass:math';

.component {
	--transition-duration-base: var(--duration-2xl);
	--transition-duration: calc(var(--transition-duration-base) - var(--transition-delay));
	--transition-distance: var(--space-md);
	--transition-delay: var(--duration-sm);
	--transition-ease: ease-in-out;

	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-base);

	@include viewport.breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
		gap: var(--space-lg);
	}

	@include viewport.breakpoint(lg) {
		gap: var(--space-2xl);
	}
}

@media not (prefers-reduced-motion: reduce) {
	.imageContainer,
	.textContainer {
		transform: translateY(var(--transition-distance));
		opacity: 0;
		will-change: opacity, transform;
		transition: opacity var(--transition-duration) var(--transition-ease),
			transform var(--transition-duration) var(--transition-ease);

		.fadeInUp & {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.imageContainer {
	position: relative;

	@include viewport.breakpoint(sm) {
		margin-block-start: var(--space-2xl);
		transition-delay: var(--transition-delay);

		.imgRight & {
			order: 2;
		}
	}
}

.textContainer {
	--flow-space: var(--space-lg);
	--transition-distance: var(--space-lg);
	--transition-duration: var(--transition-duration-base);

	> * + * {
		margin-block-start: var(--flow-space);
	}
}

.cropIconContainer {
	position: absolute;
	width: var(--text-lg);

	&:not(.imgRight &) {
		left: calc(var(--space-lg) / -1);
	}

	.imgRight & {
		right: calc(var(--space-lg) / -1);
	}

	svg {
		fill: currentColor;
		opacity: 0.1;
	}
}

.image {
	position: relative;
	display: grid;
	place-items: center;
	padding-left: var(--space-xl);
	padding-right: var(--space-xl);
	border-radius: var(--radius-default);
	background-color: var(--surface-neutral);
	aspect-ratio: 3 / 2;
	overflow: hidden;
	user-select: none;

	@include viewport.breakpoint(sm) {
		aspect-ratio: 2 / 3;
	}

	img {
		object-fit: cover;

		@media not (prefers-reduced-motion: reduce) {
			transition: transform var(--duration-xl) ease-out;

			@include viewport.has-hover {
				transform: scale(1.02);
			}
		}
	}
}

.logoContainer {
	width: 100%;
	max-width: 338px;
	pointer-events: none;
	z-index: 1;

	svg {
		fill: var(--icon-over-image);
		filter: var(--shadow-svg);
	}
}

.title {
	@include typography.headline;
	max-width: var(--optimal-line-length-xs);
	margin-bottom: var(--space-sm);

	@include viewport.breakpoint(sm) {
		max-width: var(--optimal-line-length-2xs);
	}
}

.description {
	max-width: var(--optimal-line-length-base);
}

.button {
	display: inline-block;
}
