@use '@/styles/utils/typography' as typography;
@use '@/styles/utils/viewport' as viewport;

//TODO: pass in flows from parent... 1lh 2lh, etc.
//TODO: add optional caption for last image.

.multiImage {
	--gap: var(--space-2xs);

	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap);

	@include viewport.breakpoint(sm) {
		grid-template-columns: repeat(3, 1fr);
		--gap: 0.5lh;
	}
}

.image {
	position: relative;
	border-radius: var(--radius-default);
	background-color: var(--surface-neutral);
	aspect-ratio: 2 / 3;
	overflow: hidden;
	user-select: none;

	img {
		object-fit: cover;
	}

	@include viewport.breakpoint(sm) {
		&:nth-child(4):not(.textRight &) {
			order: 1;
		}
	}
}

.textContainer {
	grid-column: span 2;

	@include viewport.breakpoint(sm) {
		display: grid;
		grid-template-columns: var(--breakout) min(668px, 100%) minmax(0, calc(var(--gap) * 2));
		grid-template-areas: '. text .';
	}

	.textRight & {
		@include viewport.breakpoint(sm) {
			grid-template-areas: '. text';
			grid-template-columns: 1lh 1fr;
		}

		@include viewport.breakpoint(md) {
			grid-template-columns: 2lh 1fr;
		}

		@include viewport.breakpoint(lg) {
			grid-template-columns: var(--space-3xl) 1fr;
		}
	}

	> div {
		grid-area: text;
		margin-block-start: var(--flow-space, 2lh);

		@include viewport.breakpoint(sm) {
			&:not(.textRight) {
				padding-inline-end: 1lh;
			}
		}

		> * + * {
			margin-block-start: var(--flow-space-base);
		}
	}
}
