/* ===============================
  Primitive (Tier 1) Tokens
  =============================== */

/* 
  * These are the most basic, raw token values to be used in Semantic (Tier 2) tokens. These should be used rarely, if at all when writing custom component CSS. Tier 2 should primarily be used. This file includes the following:
    * Viewport
    * Font
    * Space
    * Radius
    * Timing (PENDING)
    * Color
    * Transparency
*/

/* Todo: 
  * Discuss if we need to add a prefixes to clarify what variables are "primitive" and what are "semantic". For example, "--p-radius-sm" vs "--s-radius-rounded"
  * Add in line-heights as numbers... 1.5 is default, then map them in semantic to line-height-base, small, large, etc...
  * Add shadows/elevation, gradients, animation timing and others that don't exist in figma
*/

:root {
	/* VIEWPORT */
	/* Raw numbers to be used in Semantic token tier */
	--viewport-1: 350;
	--viewport-2: 500;
	--viewport-3: 768;
	--viewport-4: 1024;
	--viewport-5: 1200;
	--viewport-6: 1440;
	--viewport-7: 1600;

	/* FONT */
	// --font-sans: 'Montserrat', sans-serif;
	// --font-weight-1: 400;
	// --font-weight-2: 500;
	// --font-weight-3: 600;
	// --font-weight-4: 700;
	--font-display: 'Oswald', sans-serif;
	--font-sans: 'Source Sans 3', sans-serif;
	--font-serif: 'Source Serif 4', serif;
	// --font-weight-1: 400;
	// --font-weight-2: 500;
	// --font-weight-3: 600;
	// --font-weight-4: 700;

	/* text sizing*/
	/* Based on 1.6rem (16px) with html font-size set to 62.5% */
	--text-size-base: 1.6rem;
	--text-size-1: 1.1rem;
	--text-size-2: 1.3rem;
	--text-size-3: 2rem;
	--text-size-4: 2.5rem;
	--text-size-5: 3.1rem;
	--text-size-6: 3.9rem;
	--text-size-7: 4.9rem;
	--text-size-8: 6.1rem;

	/* SPACE */
	/* Raw numbers to be used in Semantic token tier */
	// Todo: update to dynamic fluid spacing
	--space-1: 1.6rem; /* 16 */
	--space-0125: calc(0.125 * var(--space-1)); /* 2 */
	--space-025: calc(0.25 * var(--space-1)); /* 4 */
	--space-05: calc(0.5 * var(--space-1)); /* 8 */
	--space-075: calc(0.75 * var(--space-1)); /* 12 */
	--space-2: calc(1.5 * var(--space-1)); /* 24 */
	--space-3: calc(2 * var(--space-1)); /* 32 */
	--space-4: calc(3 * var(--space-1)); /* 48 */
	--space-5: calc(4 * var(--space-1)); /* 64 */
	--space-6: calc(5 * var(--space-1)); /* 80 */
	--space-7: calc(6 * var(--space-1)); /* 88 */
	--space-8: calc(7 * var(--space-1)); /* 96 */
	--space-9: calc(8 * var(--space-1)); /* 192 */
	--space-10: calc(9 * var(--space-1)); /* 288 */
	--space-11: calc(10 * var(--space-1)); /* 384 */

	/* RADIUS */
	/* Raw numbers to be used in Semantic token tier */
	--radius-md: 3;

	/* TIMING */
	/* --duration-xs: 50ms;
  --duration-sm: 500ms;
  --duration-md: 1s;
  --duration-lg: 1.5s; */

	/* COLOR */
	/* Neutral */
	// --color-neutral-hue: 0;
	// --color-neutral-sat: 0%;
	// --color-white: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 100%);
	// --color-white-a93: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 93%);
	// --color-gray-100: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 97%);
	// --color-gray-200: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 92%);
	// --color-gray-300: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 87%);
	// --color-gray-400: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 69%);
	// --color-gray-500: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 42%);
	// --color-black: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 0%);
	--color-neutral-hue: 0;
	--color-neutral-sat: 0%;
	--color-white: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 100%);
	--color-gray-500: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 42%);
	--color-black: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 0%);

	/* Cyan */
	--color-cyan-hue: 180;
	--color-cyan-sat: 100%;
	--color-cyan-500: hsl(var(--color-orange-hue), var(--color-orange-sat), 50%);

	/* Magenta */
	--color-magenta-hue: 300;
	--color-magenta-sat: 100%;
	--color-magenta-500: hsl(var(--color-orange-hue), var(--color-orange-sat), 50%);

	/* Yellow */
	--color-yellow-hue: 60;
	--color-yellow-sat: 100%;
	--color-yellow-500: hsl(var(--color-orange-hue), var(--color-orange-sat), 50%);

	/* TRANSPARENCY */
	/* White */
	// --white-a0: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 0%);
	// --white-a10: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 10%);
	// --white-a15: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 15%);
	// --white-a20: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 20%);
	// --white-a30: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 30%);
	// --white-a50: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 50%);
	// --white-a70: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 70%);
	// --white-a80: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 80%);
	// --white-a90: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 100%, 90%);

	/* Black */
	// --black-a0: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 0%);
	// --black-a10: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 10%);
	// --black-a15: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 15%);
	// --black-a20: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 20%);
	// --black-a30: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 30%);
	// --black-a50: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 50%);
	// --black-a70: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 70%);
	// --black-a80: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 80%);
	// --black-a90: hsla(var(--color-neutral-hue), var(--color-neutral-sat), 0%, 90%);
}
