/**
* base.scss
*
* Main global level styles
*/

::selection {
	background-color: var(--color-accent-a);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

html {
	/* font-size 1em = 10px on default browser settings */
	font-size: 62.5%;
}

body {
	color: var(--text-primary, black);
	background: var(--surface-primary, white);
	font-family: var(--font-body);
	width: 100%;
	height: 100%;
	background-color: var(--surface-primary, black);
	font-size: var(--text-base);
	line-height: var(--line-height-base);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}
