/* ===============================
  Primitive Tokens
  =============================== */

/* 
  * These are the most basic, raw token values to be used in Semantic Tokens. These should be used rarely, if at all when writing custom component CSS. Tier 2 should primarily be used. This file includes the following:
    * Viewport
    * Font
    * Space
    * Radius
    * Timing
    * Color
*/

:root {
	/* VIEWPORT */
	--p-viewport-1: 350px;
	--p-viewport-2: 500px;
	--p-viewport-3: 768px;
	--p-viewport-4: 1024px;
	--p-viewport-5: 1200px;
	--p-viewport-6: 1440px;
	--p-viewport-7: 1600px;

	/* FONT */
	--p-font-display: 'Oswald', sans-serif;
	--p-font-sans: 'Source Sans 3', sans-serif;
	--p-font-serif: 'Source Serif 4', serif;
	--p-font-weight-1: 400;
	--p-font-weight-2: 500;
	--p-font-weight-3: 700;
	--p-font-weight-4: 900;

	/* text sizing*/
	/* 1rem is 10px with html font-size set to 62.5% */
	--p-text-size-base: clamp(1.8rem, 0.38vi + 1.67rem, 2.2rem);
	--p-text-size-1: clamp(1.44rem, 0.2vi + 1.37rem, 1.65rem);
	--p-text-size-2: clamp(2.25rem, 0.65vi + 2.02rem, 2.93rem);
	--p-text-size-3: clamp(2.81rem, 1.04vi + 2.45rem, 3.91rem);
	--p-text-size-4: clamp(3.52rem, 1.61vi + 2.95rem, 5.21rem);
	--p-text-size-5: clamp(4.39rem, 2.43vi + 3.54rem, 6.95rem);
	--p-text-size-6: clamp(5.49rem, 3.59vi + 4.24rem, 9.26rem);
	--p-text-size-7: clamp(6.87rem, 5.22vi + 5.04rem, 12.34rem);
	--p-text-size-8: clamp(8.58rem, 7.49vi + 5.96rem, 16.45rem);
	--p-text-size-9: clamp(10.73rem, 10.67vi + 6.99rem, 21.93rem);
	--p-text-size-10: clamp(13.41rem, 15.07vi + 8.14rem, 29.23rem);

	/* line height */
	--p-line-height-1: 1;
	--p-line-height-2: 1.2;
	--p-line-height-3: 1.5;

	/* SPACE */
	/* Base value for the spacing system */
	--p-space-base-value: 1.6rem; /* 16px equivalent */

	/* Fluid spacing scale with dynamic calculations */
	--p-space-0125: clamp(
		calc(0.125 * var(--p-space-base-value)),
		calc(0.125 * var(--p-space-base-value) + 0.1vi),
		calc(0.15625 * var(--p-space-base-value))
	); /* Min: 2px, Max: 25% increase */

	--p-space-025: clamp(
		calc(0.25 * var(--p-space-base-value)),
		calc(0.25 * var(--p-space-base-value) + 0.1vi),
		calc(0.3125 * var(--p-space-base-value))
	); /* Min: 4px, Max: 25% increase */

	--p-space-05: clamp(
		calc(0.5 * var(--p-space-base-value)),
		calc(0.5 * var(--p-space-base-value) + 0.15vi),
		calc(0.5625 * var(--p-space-base-value))
	); /* Min: 8px, Max: 12.5% increase */

	--p-space-075: clamp(
		calc(0.75 * var(--p-space-base-value)),
		calc(0.75 * var(--p-space-base-value) + 0.15vi),
		calc(0.84375 * var(--p-space-base-value))
	); /* Min: 12px, Max: 12.5% increase */

	--p-space-1: clamp(
		var(--p-space-base-value),
		calc(var(--p-space-base-value) + 0.2vi),
		calc(1.125 * var(--p-space-base-value))
	); /* Min: 1.6rem, Max: 12.5% increase */

	--p-space-2: clamp(
		calc(1.5 * var(--p-space-base-value)),
		calc(1.5 * var(--p-space-base-value) + 0.3vi),
		calc(1.6875 * var(--p-space-base-value))
	); /* Min: 24px, Max: 12.5% increase */

	--p-space-3: clamp(
		calc(2 * var(--p-space-base-value)),
		calc(2 * var(--p-space-base-value) + 0.4vi),
		calc(2.25 * var(--p-space-base-value))
	); /* Min: 32px, Max: 12.5% increase */

	--p-space-4: clamp(
		calc(3 * var(--p-space-base-value)),
		calc(3 * var(--p-space-base-value) + 0.5vi),
		calc(3.375 * var(--p-space-base-value))
	); /* Min: 48px, Max: 12.5% increase */

	--p-space-5: clamp(
		calc(4 * var(--p-space-base-value)),
		calc(4 * var(--p-space-base-value) + 0.6vi),
		calc(4.5 * var(--p-space-base-value))
	); /* Min: 64px, Max: 12.5% increase */

	--p-space-6: clamp(
		calc(5 * var(--p-space-base-value)),
		calc(5 * var(--p-space-base-value) + 0.75vi),
		calc(5.625 * var(--p-space-base-value))
	); /* Min: 80px, Max: 12.5% increase */

	--p-space-7: clamp(
		calc(6 * var(--p-space-base-value)),
		calc(6 * var(--p-space-base-value) + 0.9vi),
		calc(6.75 * var(--p-space-base-value))
	); /* Min: 96px, Max: 12.5% increase */

	--p-space-8: clamp(
		calc(7 * var(--p-space-base-value)),
		calc(7 * var(--p-space-base-value) + 1.1vi),
		calc(7.875 * var(--p-space-base-value))
	); /* Min: 112px, Max: 12.5% increase */

	--p-space-9: clamp(
		calc(8 * var(--p-space-base-value)),
		calc(8 * var(--p-space-base-value) + 1.25vi),
		calc(9 * var(--p-space-base-value))
	); /* Min: 128px, Max: 12.5% increase */

	--p-space-10: clamp(
		calc(9 * var(--p-space-base-value)),
		calc(9 * var(--p-space-base-value) + 1.5vi),
		calc(10.125 * var(--p-space-base-value))
	); /* Min: 144px, Max: 12.5% increase */

	--p-space-11: clamp(
		calc(10 * var(--p-space-base-value)),
		calc(10 * var(--p-space-base-value) + 1.75vi),
		calc(11.25 * var(--p-space-base-value))
	); /* Min: 160px, Max: 12.5% increase */

	/* RADIUS */
	--p-radius-1: 3px;

	/* TIMING */
	--p-duration-1: 20ms;
	--p-duration-2: 100ms;
	--p-duration-3: 150ms;
	--p-duration-4: 200ms;
	--p-duration-5: 800ms;

	/* COLOR */
	/* Neutral */
	// --color-gray-200: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 92%);
	// --color-gray-300: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 87%);
	// --color-gray-400: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 69%);
	// --color-gray-500: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 42%);
	// --color-black: hsl(var(--color-neutral-hue), var(--color-neutral-sat), 0%);
	--p-color-neutral-hue: 0;
	--p-color-neutral-sat: 0%;
	--p-color-white: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 100%);
	--p-color-gray-100: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 97%);
	--p-color-gray-500: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 42%);
	--p-color-gray-900: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 10%);
	--p-color-black: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 0%);

	/* Cyan */
	--p-color-cyan-hue: 180;
	--p-color-cyan-sat: 100%;
	--p-color-cyan-500: hsl(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%);
	--p-color-cyan-a: hsla(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%, 0.5);

	/* Magenta */
	--p-color-magenta-hue: 300;
	--p-color-magenta-sat: 100%;
	--p-color-magenta-500: hsl(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%);
	--p-color-magenta-a: hsla(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%, 0.5);

	/* Purple */
	--p-color-purple-hue: 288;
	--p-color-purple-sat: 100%;
	--p-color-purple-500: hsl(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%);
	--p-color-purple-a: hsla(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%, 0.5);

	/* Yellow */
	--p-color-yellow-hue: 60;
	--p-color-yellow-sat: 100%;
	--p-color-yellow-500: hsl(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%);
	--p-color-yellow-a: hsla(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%, 0.5);
}
