/* ===============================
  Primitive Tokens
  =============================== */

/* 
  * These are the most basic, raw token values to be used in Semantic Tokens. These should be used rarely, if at all when writing custom component CSS. Tier 2 should primarily be used. This file includes the following:
    * Viewport
    * Ratios
    * Font
    * Text Size
    * Line Height
    * Optimal Line Length
    * Space
    * Radius
    * Timing
    * Color
*/

:root {
	/* VIEWPORT */
	--p-viewport-1: 350px;
	--p-viewport-2: 500px;
	--p-viewport-3: 768px;
	--p-viewport-4: 1024px;
	--p-viewport-5: 1200px;
	--p-viewport-6: 1440px;
	--p-viewport-7: 1600px;

	/* RATIOS */
	--p-ratio-1: 4 / 3;
	--p-ratio-2: 3 / 4;
	--p-ratio-3: 1 / 1;

	/* FONT */
	--p-font-display: 'Oswald', sans-serif;
	--p-font-sans: 'Source Sans 3', sans-serif;
	--p-font-serif: 'Source Serif 4', serif;
	--p-font-mono: 'Fira Code', monospace;
	--p-font-weight-1: 400;
	--p-font-weight-2: 500;
	--p-font-weight-3: 700;
	--p-font-weight-4: 900;

	/* TEXT SIZE */
	/* 1rem is 10px with html font-size set to 62.5% */
	--p-text-size-base: clamp(1.8rem, 0.38vi + 1.67rem, 2.2rem);
	--p-text-size-1: clamp(1.44rem, 0.2vi + 1.37rem, 1.65rem);
	--p-text-size-2: clamp(2.25rem, 0.65vi + 2.02rem, 2.93rem);
	--p-text-size-3: clamp(2.81rem, 1.04vi + 2.45rem, 3.91rem);
	--p-text-size-4: clamp(3.52rem, 1.61vi + 2.95rem, 5.21rem);
	--p-text-size-5: clamp(4.39rem, 2.43vi + 3.54rem, 6.95rem);
	--p-text-size-6: clamp(5.49rem, 3.59vi + 4.24rem, 9.26rem);
	--p-text-size-7: clamp(6.87rem, 5.22vi + 5.04rem, 12.34rem);
	--p-text-size-8: clamp(8.58rem, 7.49vi + 5.96rem, 16.45rem);
	--p-text-size-9: clamp(10.73rem, 10.67vi + 6.99rem, 21.93rem);
	--p-text-size-10: clamp(13.41rem, 15.07vi + 8.14rem, 29.23rem);

	/* LINE HEIGHT */
	--p-line-height-1: 1;
	--p-line-height-2: 1.2;
	--p-line-height-3: 1.25;
	--p-line-height-4: 1.5;

	/* OPTIMAL LINE LENGTH */
	--p-optimal-line-length-1: 12ch;
	--p-optimal-line-length-2: 20ch;
	--p-optimal-line-length-3: 40ch;
	--p-optimal-line-length-4: 50ch;

	/* SPACE */
	/* Base value for the spacing system */
	--p-space-base-value: 1.6rem; /* 16px equivalent */

	/* Fluid spacing scale with dynamic calculations */
	--p-space-0125: clamp(
		calc(0.125 * var(--p-space-base-value)),
		calc(0.125 * var(--p-space-base-value) + 0.1vi),
		calc(0.15625 * var(--p-space-base-value))
	); /* Min: 2px, Max: 25% increase */

	--p-space-025: clamp(
		calc(0.25 * var(--p-space-base-value)),
		calc(0.25 * var(--p-space-base-value) + 0.1vi),
		calc(0.3125 * var(--p-space-base-value))
	); /* Min: 4px, Max: 25% increase */

	--p-space-05: clamp(
		calc(0.5 * var(--p-space-base-value)),
		calc(0.5 * var(--p-space-base-value) + 0.15vi),
		calc(0.5625 * var(--p-space-base-value))
	); /* Min: 8px, Max: 12.5% increase */

	--p-space-075: clamp(
		calc(0.75 * var(--p-space-base-value)),
		calc(0.75 * var(--p-space-base-value) + 0.15vi),
		calc(0.84375 * var(--p-space-base-value))
	); /* Min: 12px, Max: 12.5% increase */

	--p-space-1: clamp(
		var(--p-space-base-value),
		calc(var(--p-space-base-value) + 0.2vi),
		calc(1.125 * var(--p-space-base-value))
	); /* Min: 1.6rem, Max: 12.5% increase */

	--p-space-2: clamp(
		calc(1.5 * var(--p-space-base-value)),
		calc(1.5 * var(--p-space-base-value) + 0.3vi),
		calc(1.6875 * var(--p-space-base-value))
	); /* Min: 24px, Max: 12.5% increase */

	--p-space-3: clamp(
		calc(2 * var(--p-space-base-value)),
		calc(2 * var(--p-space-base-value) + 0.4vi),
		calc(2.25 * var(--p-space-base-value))
	); /* Min: 32px, Max: 12.5% increase */

	--p-space-4: clamp(
		calc(3 * var(--p-space-base-value)),
		calc(3 * var(--p-space-base-value) + 0.5vi),
		calc(3.375 * var(--p-space-base-value))
	); /* Min: 48px, Max: 12.5% increase */

	--p-space-5: clamp(
		calc(4 * var(--p-space-base-value)),
		calc(4 * var(--p-space-base-value) + 0.6vi),
		calc(4.5 * var(--p-space-base-value))
	); /* Min: 64px, Max: 12.5% increase */

	--p-space-6: clamp(
		calc(5 * var(--p-space-base-value)),
		calc(5 * var(--p-space-base-value) + 0.75vi),
		calc(5.625 * var(--p-space-base-value))
	); /* Min: 80px, Max: 12.5% increase */

	--p-space-7: clamp(
		calc(6 * var(--p-space-base-value)),
		calc(6 * var(--p-space-base-value) + 0.9vi),
		calc(6.75 * var(--p-space-base-value))
	); /* Min: 96px, Max: 12.5% increase */

	--p-space-8: clamp(
		calc(7 * var(--p-space-base-value)),
		calc(7 * var(--p-space-base-value) + 1.1vi),
		calc(7.875 * var(--p-space-base-value))
	); /* Min: 112px, Max: 12.5% increase */

	--p-space-9: clamp(
		calc(8 * var(--p-space-base-value)),
		calc(8 * var(--p-space-base-value) + 1.25vi),
		calc(9 * var(--p-space-base-value))
	); /* Min: 128px, Max: 12.5% increase */

	--p-space-10: clamp(
		calc(9 * var(--p-space-base-value)),
		calc(9 * var(--p-space-base-value) + 1.5vi),
		calc(10.125 * var(--p-space-base-value))
	); /* Min: 144px, Max: 12.5% increase */

	--p-space-11: clamp(
		calc(10 * var(--p-space-base-value)),
		calc(10 * var(--p-space-base-value) + 1.75vi),
		calc(11.25 * var(--p-space-base-value))
	); /* Min: 160px, Max: 12.5% increase */

	/* RADIUS */
	--p-radius-1: 3px;
	--p-radius-2: 5px;

	/* TIMING */
	--p-duration-1: 20ms;
	--p-duration-2: 50ms;
	--p-duration-3: 100ms;
	--p-duration-4: 150ms;
	--p-duration-5: 200ms;
	--p-duration-6: 250ms;
	--p-duration-7: 400ms;
	--p-duration-8: 800ms;

	/* EASING */
	--p-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
	--p-ease-in: cubic-bezier(0.75, 0, 1, 1);
	--p-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	--p-ease: cubic-bezier(0.44, 0.21, 0, 1);

	/* DISTANCE */
	--p-distance-1: 1px;
	--p-distance-2: 2px;
	--p-distance-3: 6px;

	/* COLOR */
	/* Neutral */
	--p-color-neutral-hue: 0;
	--p-color-neutral-sat: 0%;
	--p-color-white: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 100%);
	--p-color-gray-100: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 97%);
	--p-color-gray-500: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 42%);
	--p-color-gray-900: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 13%);
	--p-color-black: hsl(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 0%);
	--p-color-black-a15: hsla(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 0%, 0.15);
	--p-color-black-a20: hsla(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 0%, 0.2);
	--p-color-black-a30: hsla(var(--p-color-neutral-hue), var(--p-color-neutral-sat), 0%, 0.3);
	--p-color-neutral-gradient-horizontal: linear-gradient(
		180deg,
		hsl(0deg 0% 13%) 0px,
		hsl(0deg 0% 12%) 180px,
		hsl(0deg 0% 10%) 264px,
		hsl(0deg 0% 9%) 312px,
		hsl(0deg 0% 8%) 372px,
		hsl(0deg 0% 6%) 432px,
		hsl(0deg 0% 5%) 504px,
		hsl(0deg 0% 4%) 576px,
		hsl(0deg 0% 3%) 672px,
		hsl(0deg 0% 1%) 816px,
		hsl(0deg 0% 0%) 1200px
	);
	--p-color-neutral-gradient-diagonal-2xs: linear-gradient(
		165deg,
		hsl(0deg 0% 13%) 0px,
		hsl(0deg 0% 13%) 230px,
		hsl(0deg 0% 12%) 320px,
		hsl(0deg 0% 10%) 362px,
		hsl(0deg 0% 9%) 398px,
		hsl(0deg 0% 8%) 428px,
		hsl(0deg 0% 6%) 464px,
		hsl(0deg 0% 5%) 494px,
		hsl(0deg 0% 4%) 524px,
		hsl(0deg 0% 3%) 560px,
		hsl(0deg 0% 1%) 602px,
		hsl(0deg 0% 0%) 644px,
		hsl(0deg 0% 0%) 698px,
		hsl(0deg 0% 0%) 830px
	);
	--p-color-neutral-gradient-diagonal-xs: linear-gradient(
		165deg,
		hsl(0deg 0% 13%) 0px,
		hsl(0deg 0% 13%) 320px,
		hsl(0deg 0% 12%) 410px,
		hsl(0deg 0% 10%) 452px,
		hsl(0deg 0% 9%) 488px,
		hsl(0deg 0% 8%) 518px,
		hsl(0deg 0% 6%) 554px,
		hsl(0deg 0% 5%) 584px,
		hsl(0deg 0% 4%) 614px,
		hsl(0deg 0% 3%) 650px,
		hsl(0deg 0% 1%) 692px,
		hsl(0deg 0% 0%) 734px,
		hsl(0deg 0% 0%) 788px,
		hsl(0deg 0% 0%) 920px
	);
	--p-color-neutral-gradient-diagonal-sm: linear-gradient(
		165deg,
		hsl(0deg 0% 13%) 0px,
		hsl(0deg 0% 13%) 500px,
		hsl(0deg 0% 12%) 590px,
		hsl(0deg 0% 10%) 632px,
		hsl(0deg 0% 9%) 668px,
		hsl(0deg 0% 8%) 698px,
		hsl(0deg 0% 6%) 734px,
		hsl(0deg 0% 5%) 764px,
		hsl(0deg 0% 4%) 794px,
		hsl(0deg 0% 3%) 830px,
		hsl(0deg 0% 1%) 872px,
		hsl(0deg 0% 0%) 914px,
		hsl(0deg 0% 0%) 968px,
		hsl(0deg 0% 0%) 1100px
	);

	/* Cyan */
	/* #00FFFF */
	--p-color-cyan-hue: 180;
	--p-color-cyan-sat: 100%;
	--p-color-cyan-500: hsl(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%);
	--p-color-cyan-700: hsl(188, var(--p-color-cyan-sat), 50%);
	--p-color-cyan-a50: hsla(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%, 0.5);
	--p-color-cyan-a15: hsla(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%, 0.15);
	--p-color-cyan-a08: hsla(var(--p-color-cyan-hue), var(--p-color-cyan-sat), 50%, 0.08);
	--p-color-cyan-stops: var(--p-color-cyan-700) 0%, hsl(187deg 100% 50%) 20%, hsl(186deg 100% 50%) 29%,
		hsl(186deg 100% 50%) 36%, hsl(185deg 100% 50%) 43%, hsl(184deg 100% 50%) 50%, hsl(183deg 100% 50%) 57%,
		hsl(182deg 100% 50%) 64%, hsl(182deg 100% 50%) 71%, hsl(181deg 100% 50%) 80%, var(--p-color-cyan-500) 100%;
	--p-color-cyan-gradient: linear-gradient(340deg, var(--p-color-cyan-stops));
	--p-color-cyan-gradient-reversed: linear-gradient(160deg, var(--p-color-cyan-stops));

	/* Magenta */
	/* #FF00FF */
	--p-color-magenta-hue: 300;
	--p-color-magenta-sat: 100%;
	--p-color-magenta-500: hsl(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%);
	--p-color-magenta-700: hsl(288, var(--p-color-magenta-sat), 50%);
	--p-color-magenta-a50: hsla(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%, 0.5);
	--p-color-magenta-a15: hsla(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%, 0.15);
	--p-color-magenta-a10: hsla(var(--p-color-magenta-hue), var(--p-color-magenta-sat), 50%, 0.1);
	--p-color-magenta-stops: var(--p-color-magenta-700) 0%, hsl(289deg 100% 50%) 20%, hsl(290deg 100% 50%) 29%,
		hsl(292deg 100% 50%) 36%, hsl(293deg 100% 50%) 43%, hsl(294deg 100% 50%) 50%, hsl(295deg 100% 50%) 57%,
		hsl(296deg 100% 50%) 64%, hsl(298deg 100% 50%) 71%, hsl(299deg 100% 50%) 80%, var(--p-color-magenta-500) 100%;
	--p-color-magenta-gradient: linear-gradient(340deg, var(--p-color-magenta-stops));
	--p-color-magenta-gradient-reversed: linear-gradient(160deg, var(--p-color-magenta-stops));

	/* Purple */
	/* #cc00ff */
	--p-color-purple-hue: 288;
	--p-color-purple-sat: 100%;
	--p-color-purple-500: hsl(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%);
	--p-color-purple-700: hsl(279, var(--p-color-purple-sat), 50%);
	--p-color-purple-a50: hsla(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%, 0.5);
	--p-color-purple-a20: hsla(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%, 0.2);
	--p-color-purple-a12: hsla(var(--p-color-purple-hue), var(--p-color-purple-sat), 50%, 0.12);
	--p-color-purple-stops: var(--p-color-purple-700) 0%, hsl(280deg 100% 50%) 20%, hsl(281deg 100% 50%) 29%,
		hsl(282deg 100% 50%) 36%, hsl(283deg 100% 50%) 43%, hsl(284deg 100% 50%) 50%, hsl(284deg 100% 50%) 57%,
		hsl(285deg 100% 50%) 64%, hsl(286deg 100% 50%) 71%, hsl(287deg 100% 50%) 80%, var(--p-color-purple-500) 100%;
	--p-color-purple-gradient: linear-gradient(340deg, var(--p-color-purple-stops));
	--p-color-purple-gradient-reversed: linear-gradient(160deg, var(--p-color-purple-stops));

	/* Yellow */
	/* #FFFF00 */
	--p-color-yellow-hue: 60;
	--p-color-yellow-sat: 100%;
	--p-color-yellow-500: hsl(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%);
	--p-color-yellow-700: hsl(56, var(--p-color-yellow-sat), 50%);
	--p-color-yellow-a50: hsla(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%, 0.5);
	--p-color-yellow-a15: hsla(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%, 0.15);
	--p-color-yellow-a06: hsla(var(--p-color-yellow-hue), var(--p-color-yellow-sat), 50%, 0.06);
	--p-color-yellow-stops: var(--p-color-yellow-700) 0%, hsl(56deg 100% 50%) 20%, hsl(57deg 100% 50%) 29%,
		hsl(57deg 100% 50%) 36%, hsl(58deg 100% 50%) 43%, hsl(58deg 100% 50%) 50%, hsl(58deg 100% 50%) 57%,
		hsl(59deg 100% 50%) 64%, hsl(59deg 100% 50%) 71%, hsl(60deg 100% 50%) 80%, var(--p-color-yellow-500) 100%;
	--p-color-yellow-gradient: linear-gradient(340deg, var(--p-color-yellow-stops));
	--p-color-yellow-gradient-reversed: linear-gradient(160deg, var(--p-color-yellow-stops));

	/* Syntax Tokens */
	--p-color-syntax-0: #717790;
	--p-color-syntax-1: #d4d4d4;
	--p-color-syntax-2: #92b4dd;
	--p-color-syntax-3: #c586c0;
	--p-color-syntax-4: #ddca7e;
	--p-color-syntax-5: #d0782a;
}
