/* ===============================
  Semantic & Component (Tier 2) Tokens
  =============================== */

/* 
  * These tokens assign and give meaning to the primitive tokens and should be used often. This is the theme layer to our token system. This file includes the following:
    * Viewport
    * Spacing
    * Radius
    * Timing
    * Typography
    * Color
    * Text
    * Surface
    * Link
    * Border
    * Divider
    * Icon
    * Item
    * COMPONENTS:
      * Buttons
      * Cards
*/

:root {
	/* VIEWPORT */
	/* Use for media queries and viewport values */
	--viewport-2xs: var(--p-viewport-1);
	--viewport-xs: var(--p-viewport-2);
	--viewport-sm: var(--p-viewport-3);
	--viewport-md: var(--p-viewport-4);
	--viewport-lg: var(--p-viewport-5);
	--viewport-xl: var(--p-viewport-6);
	--viewport-2xl: var(--p-viewport-7);

	/* SPACING */
	--space-3xs: var(--p-space-0125);
	--space-2xs: var(--p-space-025);
	--space-xs: var(--p-space-05);
	--space-sm: var(--p-space-075);
	--space-base: var(--p-space-1);
	--space-md: var(--p-space-2);
	--space-lg: var(--p-space-3);
	--space-xl: var(--p-space-4);
	--space-2xl: var(--p-space-5);
	--space-3xl: var(--p-space-6);
	--space-4xl: var(--p-space-7);
	--space-5xl: var(--p-space-8);
	--space-6xl: var(--p-space-9);
	--space-7xl: var(--p-space-10);
	--space-8xl: var(--p-space-11);

	--header-height: 102px; //needed to globally calculate layout heights

	/* RADIUS */
	--radius-default: var(--p-radius-1);

	/* TIMING */
	--duration-xs: var(--p-duration-1);
	--duration-sm: var(--p-duration-2);
	--duration-md: var(--p-duration-3);
	--duration-lg: var(--p-duration-4);

	/* TYPOGRAPHY */
	--font-header: var(--p-font-display);
	--font-body: var(--p-font-sans);
	--font-alt: var(--p-font-serif);
	--font-weight-reg: var(--p-font-weight-1);
	--font-weight-semiBold: var(--p-font-weight-2);
	--font-weight-bold: var(--p-font-weight-3);
	--font-weight-black: var(--p-font-weight-4);

	--text-base: var(--p-text-size-base);
	--text-sm: var(--p-text-size-1);
	--text-md: var(--p-text-size-2);
	--text-lg: var(--p-text-size-3);
	--text-xl: var(--p-text-size-4);
	--text-2xl: var(--p-text-size-5);
	--text-3xl: var(--p-text-size-6);
	--text-4xl: var(--p-text-size-7);
	--text-5xl: var(--p-text-size-8);
	--text-6xl: var(--p-text-size-9);
	--text-7xl: var(--p-text-size-10);

	--line-height-xs: var(--p-line-height-1);
	--line-height-sm: var(--p-line-height-2);
	--line-height-base: var(--p-line-height-3);

	/* COLOR */
	--color-primary: var(--p-color-black);
	--color-primary-hover: var(--color-primary);
	--color-primary-active: var(--color-primary);

	--color-secondary: var(--p-color-white);
	--color-secondary-hover: var(--color-secondary);
	--color-secondary-active: var(--color-secondary);

	--color-tertiary: var(--p-color-gray-500);
	--color-tertiary-hover: var(--color-tertiary);
	--color-tertiary-active: var(--color-tertiary);

	--color-accent: var(--p-color-magenta-500);
	--color-accent-a: var(--p-color-magenta-a);
	--color-accent-hover: var(--color-accent);
	--color-accent-active: var(--color-accent);

	/* TEXT */
	--text-primary: var(--color-primary);
	--text-secondary: var(--color-secondary);
	--text-tertiary: var(--color-tertiary);
	--text-accent: var(--color-accent);

	/* SURFACE */
	/* Use for surface color values like backgrounds for cards, etc. */
	--surface-primary: var(--color-secondary);
	--surface-neutral: var(--p-color-gray-100);
	--surface-accent: var(--color-accent);

	/* LINK */
	--link-primary: var(--text-primary);
	--link-primary-hover: var(--link-primary);
	--link-primary-active: var(--link-primary);
	--link-primary-visited: var(--link-primary);

	--link-neutral: var(--text-tertiary);
	--link-neutral-hover: var(--link-primary);
	--link-neutral-active: var(--link-primary);
	--link-neutral-visited: var(--link-neutral);

	/* BORDER */
	/* Use for border color values */
	--border-color: var(--color-primary);
	--border-color-m: var(--p-color-magenta-500);
	--border-color-c: var(--p-color-cyan-500);
	--border-color-y: var(--p-color-yellow-500);

	/* DIVIDER */
	/* Use for divider color values */
	// --divider-primary: var(--color-neutral-400);
	// --divider-secondary: var(--color-neutral-300);

	/* ICON */
	/* Use for icon color values */
	--icon-primary: var(--color-primary);
	--icon-secondary: var(--color-secondary);
	--icon-accent: var(--color-accent);
	// --icon-default: var(--color-neutral-400);
	// --icon-default-hover: var(--color-neutral-500);
	// --icon-over-image: var(--color-neutral-white);
	// --icon-over-image-hover: var(--color-white-a93);

	/* COMPONENTS */
	/* Currently adding common component tokens in the semantic tier. Can possibly split this out if need be in the future */

	/* BUTTONS */
	/* Primary */
	--button-label: var(--p-font-sans);
	--button-background: var(--color-primary);
	--button-background-hover: var(--color-accent);
	--button-background-pressed: var(--button-background-hover);
	--button-foreground: var(--color-secondary);
	--button-border: var(--color-accent);

	// /* Accent */
	// --button-background-accent: var(--color-accent);
	// --button-background-accent-hover: var(--color-accent-hover);
	// --button-background-accent-pressed: var(--color-accent-active);
	// --button-foreground-accent: var(--color-primary);

	// /* Invert */
	// --button-background-invert: var(--color-neutral-white);
	// --button-background-invert-hover: var(--color-white-a93);
	// --button-background-invert-pressed: var(--button-background-invert);
	// --button-foreground-invert: var(--color-primary);

	// /* Button Link */
	// --button-background-link: transparent;
	// --button-foreground-link: var(--link-primary);
	// --button-foreground-link-hover: var(--link-primary-hover);
	// --button-foreground-link-pressed: var(--link-primary-active);

	// /* Button Link Neutral */
	// --button-foreground-link-neutral: var(--link-neutral);
	// --button-foreground-link-neutral-hover: var(--link-neutral-hover);
	// --button-foreground-link-neutral-pressed: var(--link-neutral-active);

	// /* Disabled */
	// --button-background-disabled: var(--color-neutral-300);
	// --button-foreground-disabled: var(--color-neutral-white);
	// --button-foreground-link-disabled: var(--link-disabled);

	// /* CARDS */
	// /* Use for card specific values */
	// --card-border: var(--color-neutral-100);

	// /* INPUTS */
	// /* Use for input values */
	// --input-label: var(--text-primary);
	// --input-border: var(--border-default);
	// --input-border-active: var(--border-active);
	// --input-text: var(--text-secondary);
	// --input-placeholder: var(--text-tertiary);
	// --input-background: var(--surface-minimal);

	[data-section='dark'] {
		--color-primary: var(--p-color-white);
		--color-secondary: var(--p-color-black);

		--text-primary: var(--p-color-white);
		--text-secondary: var(--p-color-black);

		--surface-primary: var(--p-color-black);

		--link-primary: var(--text-primary);
		--link-primary-hover: var(--link-primary);
		--link-primary-active: var(--link-primary);
		--link-primary-visited: var(--link-primary);
	}

	[data-theme='c'] {
		--color-accent: var(--p-color-cyan-500);
		--color-accent-a: var(--p-color-cyan-a);
		--text-accent: var(--color-accent);
	}

	[data-theme='y'] {
		--color-accent: var(--p-color-yellow-500);
		--color-accent-a: var(--p-color-yellow-a);
		--text-accent: var(--color-accent);
	}

	// [data-theme='p'] {
	// 	--color-accent: var(--p-color-purple-500);
	// }
}
