/* ===============================
  Semantic & Component (Tier 2) Tokens
  =============================== */

/* 
  * These tokens assign and give meaning to the primitive tokens and should be used often. This is the theme layer to our token system. This file includes the following:
    * Viewport
    * Ratios
    * Spacing
    * Radius
    * Timing
    * Typography
    * Color
    * Shadows
    * Text
    * Surface
    * Link
    * Border
    * Icon
    * COMPONENTS:
      * Buttons
      * Cards
*/

:root {
	/* VIEWPORT */
	/* Use for media queries and viewport values */
	--viewport-2xs: var(--p-viewport-1);
	--viewport-xs: var(--p-viewport-2);
	--viewport-sm: var(--p-viewport-3);
	--viewport-md: var(--p-viewport-4);
	--viewport-lg: var(--p-viewport-5);
	--viewport-xl: var(--p-viewport-6);
	--viewport-2xl: var(--p-viewport-7);

	/* RATIOS */
	--ratio-landscape: var(--p-ratio-1);
	--ratio-portrait: var(--p-ratio-2);
	--ratio-square: var(--p-ratio-3);

	/* SPACING */
	--space-3xs: var(--p-space-0125);
	--space-2xs: var(--p-space-025);
	--space-xs: var(--p-space-05);
	--space-sm: var(--p-space-075);
	--space-base: var(--p-space-1);
	--space-md: var(--p-space-2);
	--space-lg: var(--p-space-3);
	--space-xl: var(--p-space-4);
	--space-2xl: var(--p-space-5);
	--space-3xl: var(--p-space-6);
	--space-4xl: var(--p-space-7);
	--space-5xl: var(--p-space-8);
	--space-6xl: var(--p-space-9);
	--space-7xl: var(--p-space-10);
	--space-8xl: var(--p-space-11);

	--header-height: 117px;

	/* RADIUS */
	--radius-default: var(--p-radius-1);
	--radius-lg: var(--p-radius-2);

	/* TIMING */
	--duration-2xs: var(--p-duration-1);
	--duration-xs: var(--p-duration-2);
	--duration-sm: var(--p-duration-3);
	--duration-md: var(--p-duration-4);
	--duration-lg: var(--p-duration-5);
	--duration-xl: var(--p-duration-6);
	--duration-2xl: var(--p-duration-7);
	--duration-3xl: var(--p-duration-8);

	/* EASING */
	--ease-out: var(--p-ease-out);
	--ease-in: var(--p-ease-in);
	--ease-in-out: var(--p-ease-in-out);
	--ease: var(--p-ease);

	/* DISTANCE */
	--distance-xs: var(--p-distance-1);
	--distance-sm: var(--p-distance-2);
	--distance-md: var(--p-distance-3);

	/* TYPOGRAPHY */
	--font-header: var(--p-font-display);
	--font-body: var(--p-font-sans);
	--font-alt: var(--p-font-serif);
	--font-mono: var(--p-font-mono);
	--font-weight-reg: var(--p-font-weight-1);
	--font-weight-semiBold: var(--p-font-weight-2);
	--font-weight-bold: var(--p-font-weight-3);
	--font-weight-black: var(--p-font-weight-4);

	--text-base: var(--p-text-size-base);
	--text-sm: var(--p-text-size-1);
	--text-md: var(--p-text-size-2);
	--text-lg: var(--p-text-size-3);
	--text-xl: var(--p-text-size-4);
	--text-2xl: var(--p-text-size-5);
	--text-3xl: var(--p-text-size-6);
	--text-4xl: var(--p-text-size-7);
	--text-5xl: var(--p-text-size-8);
	--text-6xl: var(--p-text-size-9);
	--text-7xl: var(--p-text-size-10);

	--line-height-2xs: var(--p-line-height-1);
	--line-height-xs: var(--p-line-height-2);
	--line-height-sm: var(--p-line-height-3);
	--line-height-base: var(--p-line-height-4);

	/* OPTIMAL LINE LENGTH */
	--optimal-line-length-2xs: var(--p-optimal-line-length-1);
	--optimal-line-length-xs: var(--p-optimal-line-length-2);
	--optimal-line-length-sm: var(--p-optimal-line-length-3);
	--optimal-line-length-base: var(--p-optimal-line-length-4);

	/* COLOR */
	--color-primary: var(--p-color-black);
	--color-primary-hover: var(--color-primary);
	--color-primary-active: var(--color-primary);

	--color-secondary: var(--p-color-white);
	--color-secondary-hover: var(--color-secondary);
	--color-secondary-active: var(--color-secondary);

	--color-tertiary: var(--p-color-gray-500);
	--color-tertiary-hover: var(--color-tertiary);
	--color-tertiary-active: var(--color-tertiary);

	--color-accent: var(--p-color-magenta-500);
	--color-accent-alt: var(--p-color-magenta-700);
	--color-accent-highlight: var(--p-color-magenta-a50);
	--color-accent-bg-code-inline: var(--p-color-magenta-a15);
	--color-accent-bg-code-block: var(--p-color-magenta-a10);
	--color-accent-gradient: var(--p-color-magenta-gradient);
	--color-accent-gradient-reversed: var(--p-color-magenta-gradient-reversed);

	--color-background-gradient: var(--p-color-neutral-gradient-horizontal);
	--color-background-gradient-diagonal-2xs: var(--p-color-neutral-gradient-diagonal-2xs);
	--color-background-gradient-diagonal-xs: var(--p-color-neutral-gradient-diagonal-xs);
	--color-background-gradient-diagonal-sm: var(--p-color-neutral-gradient-diagonal-sm);

	--color-syntax-base: var(--p-color-syntax-1);
	--color-syntax-comment: var(--p-color-syntax-0);
	--color-syntax-variable: var(--p-color-syntax-2);
	--color-syntax-punctuation: var(--p-color-syntax-1);
	--color-syntax-keyword: var(--p-color-syntax-4);
	--color-syntax-class: var(--p-color-syntax-4);
	--color-syntax-function: var(--p-color-syntax-4);
	--color-syntax-property: var(--p-color-syntax-3);
	--color-syntax-string: var(--p-color-syntax-5);

	/* SHADOWS */
	--shadow-box: 0 2px 4px var(--p-color-black-a15), 0 2px 6px var(--p-color-black-a15);
	--shadow-box-lg: 0 4px 6px var(--p-color-black-a15), 0 4px 8px var(--p-color-black-a15);
	--shadow-text-vert: 2px -4px 6px var(--p-color-black-a15), 2px -4px 8px var(--p-color-black-a15);
	--shadow-svg: drop-shadow(0 2px 4px var(--p-color-black-a15));

	/* TEXT */
	--text-primary: var(--color-primary);
	--text-secondary: var(--color-secondary);
	--text-tertiary: var(--color-tertiary);
	--text-accent: var(--color-accent);

	/* SURFACE */
	/* Use for surface color values like backgrounds for cards, etc. */
	--surface-primary: var(--color-secondary);
	--surface-neutral: var(--p-color-gray-100);
	--surface-accent: var(--color-accent);

	/* LINK */
	--link-primary: var(--text-primary);
	--link-primary-hover: var(--link-primary);
	--link-primary-active: var(--link-primary);
	--link-primary-visited: var(--link-primary);

	--link-neutral: var(--text-tertiary);
	--link-neutral-hover: var(--link-primary);
	--link-neutral-active: var(--link-primary);
	--link-neutral-visited: var(--link-neutral);

	/* BORDER */
	/* Use for border color values */
	--border-color: var(--color-primary);
	--border-color-m: var(--p-color-magenta-500);
	--border-color-c: var(--p-color-cyan-500);
	--border-color-y: var(--p-color-yellow-500);
	--border-color-p: var(--p-color-purple-500);

	/* ICON */
	/* Use for icon color values */
	--icon-primary: var(--color-primary);
	--icon-secondary: var(--color-secondary);
	--icon-accent: var(--color-accent);
	--icon-over-image: var(--p-color-white);

	/* COMPONENTS */
	/* Currently adding common component tokens in the semantic tier. Can possibly split this out if need be in the future */

	/* BUTTONS */
	/* Primary */
	--button-label: var(--font-body);
	--button-background: var(--surface-primary);
	--button-background-hover: var(--color-accent);
	--button-foreground: var(--text-primary);
	--button-foreground-hover: var(--text-primary);
	--button-border: var(--color-accent);
	--button-spacing: 0.35lh 1lh;
	--button-distance: var(--distance-sm);
	--button-distance-subtle: var(--distance-xs);
	--button-raise: translateY(calc(var(--button-distance) / -1));
	--button-press: translateY(var(--button-distance-subtle));
	--button-raise-press: translateY(calc(var(--button-distance) / -1 + var(--button-distance-subtle)));

	/* THEME OVERRIDES */
	[data-section='dark'] {
		--color-primary: var(--p-color-white);
		--color-secondary: var(--p-color-black);

		--text-primary: var(--p-color-white);
		--text-secondary: var(--p-color-black);

		--surface-primary: var(--p-color-black);

		--link-primary: var(--text-primary);
		--link-primary-hover: var(--link-primary);
		--link-primary-active: var(--link-primary);
		--link-primary-visited: var(--link-primary);

		--button-background: var(--surface-primary);
		--button-foreground: var(--text-primary);
		--button-foreground-hover: var(--text-secondary);
	}

	[data-theme='c'] {
		--color-accent: var(--p-color-cyan-500);
		--color-accent-alt: var(--p-color-cyan-700);
		--color-accent-highlight: var(--p-color-cyan-a50);
		--color-accent-bg-code-inline: var(--p-color-cyan-a15);
		--color-accent-bg-code-block: var(--p-color-cyan-a08);
		--color-accent-gradient: var(--p-color-cyan-gradient);
		--color-accent-gradient-reversed: var(--p-color-cyan-gradient-reversed);
		--text-accent: var(--color-accent);
		--icon-accent: var(--color-accent);
		--button-background-hover: var(--color-accent);
		--button-border: var(--color-accent);
	}

	[data-theme='y'] {
		--color-accent: var(--p-color-yellow-500);
		--color-accent-alt: var(--p-color-yellow-700);
		--color-accent-highlight: var(--p-color-yellow-a50);
		--color-accent-bg-code-inline: var(--p-color-yellow-a15);
		--color-accent-bg-code-block: var(--p-color-yellow-a06);
		--color-accent-gradient: var(--p-color-yellow-gradient);
		--color-accent-gradient-reversed: var(--p-color-yellow-gradient-reversed);
		--text-accent: var(--color-accent);
		--icon-accent: var(--color-accent);
		--button-background-hover: var(--color-accent);
		--button-border: var(--color-accent);
	}

	[data-theme='p'] {
		--color-accent: var(--p-color-purple-500);
		--color-accent-alt: var(--p-color-purple-700);
		--color-accent-highlight: var(--p-color-purple-a50);
		--color-accent-bg-code-inline: var(--p-color-purple-a20);
		--color-accent-bg-code-block: var(--p-color-purple-a12);
		--color-accent-gradient: var(--p-color-purple-gradient);
		--color-accent-gradient-reversed: var(--p-color-purple-gradient-reversed);
		--text-accent: var(--color-accent);
		--icon-accent: var(--color-accent);
		--button-background-hover: var(--color-accent);
		--button-border: var(--color-accent);
	}
}
