//todo: I had to add it to the next.config.ts file to get it to compile. This is a workaround but would love to fix at some point.

/**
* _animations.scss
*
* Utility functions and mixins for animations, as well as general keyframes that can be used in multiple situations
*
* Index:
* - Mixins
* - Keyframes
*/

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-6px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(var(--space-base));
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(calc(var(--space-base) / -1));
	}
}
