/**
* _element.scss
*
* Element mixins and functions
*/

@use './viewport';
@use 'sass:math';

@mixin image-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@mixin aspect-ratio($ratio: math.div(16, 9)) {
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-bottom: calc(100% / (#{$ratio}));
	}

	> :first-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	img {
		@include image-cover;
	}
}

@mixin visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@mixin accent-edge {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: var(--space-2xs);
		background-color: var(--color-accent);
		transition: background-color 250ms ease-in 50ms;
		z-index: 1;

		@include viewport.breakpoint(2xs) {
			width: clamp(var(--space-2xs), 1dvw, var(--space-sm));
		}
	}
}
