/**
* _element.scss
*
* Element mixins and functions
*/

@use './viewport';
@use 'sass:math';

@mixin visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@mixin accent-edge($type: none) {
	& {
		position: relative;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: var(--space-2xs);
		z-index: 1;

		@if $type == gradient {
			background-image: var(--color-accent-gradient);
		} @else if $type == reverse {
			background-image: var(--color-accent-gradient-reversed);
		} @else if $type == alt {
			background: var(--color-accent-alt);
		} @else {
			background: var(--color-accent);
		}

		@include viewport.breakpoint(2xs) {
			width: clamp(var(--space-2xs), 1dvw, var(--space-sm));
		}
	}
}

@mixin shadow-inset-pseudo {
	--shadow-inset-size: 16px;

	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--shadow-inset-size);
	box-shadow: inset 0 var(--shadow-inset-size) var(--shadow-inset-size) calc(var(--shadow-inset-size) * -1)
		var(--p-color-black-a30);
	border-top: solid 1px var(--p-color-black-a20);
	pointer-events: none;
}
