/**
* _layout.scss
*
* Layout mixins and functions
*/

@mixin grid {
	--gutter: clamp(var(--space-base), 4dvw, var(--space-lg));
	--main: min(var(--viewport-md), 100% - var(--gutter) * 2);
	--breakout: minmax(0, var(--space-3xl));
	--full: minmax(var(--gutter), 1fr);

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[breakout-start] var(--breakout)
		[main-start] var(--main) [main-end]
		var(--breakout) [breakout-end]
		var(--full) [full-end];

	> * {
		grid-column: main;
	}

	.breakout {
		grid-column: breakout;
	}

	.full {
		grid-column: full;
	}
}
