/**
* _typography.scss
*
* Typography mixins and functions
*/
@use 'sass:list';
@use 'sass:map';
@use './viewport';

// HEADLINES
$headline-base: (
	font-family: var(--font-header),
	font-weight: var(--font-weight-bold),
	color: var(--text-primary),
	text-transform: uppercase,
	text-wrap: balance,
);

$headlines: (
	sm:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-base),
				line-height: var(--line-height-xs),
			)
		),
	md:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-md),
				line-height: var(--line-height-xs),
			)
		),
	lg:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-lg),
				line-height: var(--line-height-xs),
			)
		),
	xl:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-xl),
				line-height: var(--line-height-xs),
			)
		),
	2xl:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-2xl),
				line-height: var(--line-height-header),
			)
		),
	3xl:
		map.merge(
			$headline-base,
			(
				font-size: var(--text-3xl),
				line-height: var(--line-height-header),
			)
		),
);

@mixin headline($variant: 3xl) {
	$headline: map.get($headlines, $variant);

	@if not $headline {
		@error '"#{$variant}" is not a valid variant. Valid variants are: #{map.keys($headlines)}';
	}

	font-family: map.get($headline, font-family);
	font-size: map.get($headline, font-size);
	font-weight: map.get($headline, font-weight);
	line-height: map.get($headline, line-height);
	color: map.get($headline, color);
	text-transform: map.get($headline, text-transform);
	text-wrap: map.get($headline, text-wrap);
}

// DISPLAY TEXT
$display-base: (
	font-family: var(--font-header),
	font-weight: var(--font-weight-bold),
	line-height: var(--line-height-2xs),
	color: var(--text-primary),
	text-transform: uppercase,
);

$displays: (
	sm:
		map.merge(
			$display-base,
			(
				font-size: var(--text-5xl),
			)
		),
	lg:
		map.merge(
			$display-base,
			(
				font-size: var(--text-7xl),
			)
		),
);

@mixin display($variant: sm) {
	$display: map.get($displays, $variant);

	@if not $display {
		@error '"#{$variant}" is not a valid variant. Valid variants are: #{map.keys($displays)}';
	}

	font-family: map.get($display, font-family);
	font-size: map.get($display, font-size);
	font-weight: map.get($display, font-weight);
	line-height: map.get($display, line-height);
	color: map.get($display, color);
	text-transform: map.get($display, text-transform);
}

// ALT TEXT
$alt-headline-base: (
	font-family: var(--font-alt),
	font-weight: var(--font-weight-bold),
	line-height: var(--line-height-xs),
);

$alt-headlines: (
	sm:
		map.merge(
			$alt-headline-base,
			(
				font-size: var(--text-lg),
			)
		),
	md:
		map.merge(
			$alt-headline-base,
			(
				font-size: var(--text-xl),
			)
		),
	lg:
		map.merge(
			$alt-headline-base,
			(
				font-size: var(--text-2xl),
			)
		),
);

@mixin alt-headline($variant: md) {
	$alt-headline: map.get($alt-headlines, $variant);

	@if not $alt-headline {
		@error '"#{$variant}" is not a valid variant. Valid variants are: #{map.keys($alt-headlines)}';
	}

	font-family: map.get($alt-headline, font-family);
	font-size: map.get($alt-headline, font-size);
	font-weight: map.get($alt-headline, font-weight);
	line-height: map.get($alt-headline, line-height);
}

// PARAGRAPHS
$paragraph-base: (
	font-family: var(--font-body),
	color: var(--text-primary),
);

$paragraphs: (
	sm:
		map.merge(
			$paragraph-base,
			(
				font-size: var(--text-sm),
			)
		),
	base:
		map.merge(
			$paragraph-base,
			(
				font-size: var(--text-base),
			)
		),
	lg:
		map.merge(
			$paragraph-base,
			(
				font-size: var(--text-md),
			)
		),
);

@mixin p($variant: base) {
	$p: map.get($paragraphs, $variant);

	@if not $p {
		@error '"#{$variant}" is not a valid variant. Valid variants are: #{map.keys($paragraphs)}';
	}

	font-family: map.get($p, font-family);
	font-size: map.get($p, font-size);
	color: map.get($p, color);
}

// LINKS
@mixin link($underline: false, $reverse: false) {
	--hover-offset: 0.2em;

	position: relative;
	display: inline-flex;
	color: var(--link-primary);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	overflow: hidden;
	isolation: isolate; // forces new stacking context so pseudo-elements work with z-index
	transition: color var(--duration-lg) var(--ease-in-out);
	padding-inline: var(--hover-offset);
	margin-inline: calc(var(--hover-offset) / -1);

	@if $underline {
		text-decoration: underline;
		text-decoration-color: var(--color-accent);
		text-underline-offset: 0.1em;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: var(--color-accent);
		transition: width var(--duration-md) var(--ease-out);
		z-index: -1;

		@if $reverse {
			right: 0;
			left: auto;
		}
	}

	@include viewport.has-hover(':hover', ':focus-visible') {
		color: var(--link-primary-hover);
		text-decoration-color: var(--color-accent);
		outline: none;

		&::before {
			width: 100%;
		}

		[data-section='dark'] & {
			color: var(--text-secondary);
		}
	}

	&:visited {
		color: var(--link-primary-visited);

		@include viewport.has-hover {
			color: var(--link-primary-hover);

			[data-section='dark'] & {
				color: var(--text-secondary);
			}
		}
	}
}

@mixin link-neutral {
	color: var(--link-neutral);
	text-decoration: none;
	transition: font-weight var(--duration-2xs) var(--ease-out), transform var(--duration-sm) var(--ease-out);

	@include viewport.has-hover(':hover', ':focus-visible') {
		color: var(--link-neutral-hover);
		font-weight: var(--font-weight-semiBold);
		transform: var(--button-raise);

		&:active {
			transition: transform 0s;
			transform: var(--button-raise-press);
		}
	}

	&:visited {
		color: var(--link-neutral-visited);

		@include viewport.has-hover {
			color: var(--link-neutral-hover);
			font-weight: var(--font-weight-semiBold);
		}
	}

	&::after {
		content: attr(data-text);
		height: 0;
		visibility: hidden;
		overflow: hidden;
		user-select: none;
		pointer-events: none;
		font-weight: var(--font-weight-semiBold);

		@media speech {
			display: none;
		}
	}

	&.isActive {
		color: var(--link-neutral-active);
		font-weight: var(--font-weight-semiBold);
	}
}

// MISCELLANEOUS
@mixin caption {
	font-size: var(--text-sm);
	color: var(--text-tertiary);
	line-height: var(--line-height-sm);
}

@mixin alt-font($inline: false) {
	font-family: var(--font-alt);
	line-height: var(--line-height-3xs);
	text-transform: initial;

	@if $inline {
		letter-spacing: -1.6px;
		font-style: italic;
		font-size: 0.85em;
		display: inline-block;
		vertical-align: middle;
		transform: translateY(-0.14em);
	}
}

.noWrap {
	white-space: nowrap;
}
