/**
* _viewport.scss
*
* Utility variables, functions and mixins for setting viewport styles
*/

@use 'sass:list';
@use 'sass:map';

$width: (
	2xs: 350px,
	xs: 500px,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
	xl: 1440px,
	2xl: 1600px,
);

$height: (
	xs: 400px,
	sm: 600px,
	md: 850px,
	lg: 1000px,
);

@mixin breakpoint($value, $direction: min, $dimension: width) {
	$directions: min, max;
	$dimensions: width, height;
	$size: $value;
	$map: $width;

	@if not list.index($directions, $direction) {
		@error '"#{$direction}" is not a valid direction. Please use one of these values: #{$directions}';
	}

	@if not list.index($dimensions, $dimension) {
		@error '"#{$dimension}" is not a valid dimension. Please use one of these values: #{$dimensions}';
	}

	@if $dimension == height {
		$map: $height;
	}

	@if map.has-key($map, $size) {
		$size: map.get($map, $size);
	}

	@if $direction == min {
		@media (min-#{$dimension}: $size) {
			@content;
		}
	} @else if $direction == max {
		@media (max-#{$dimension}: $size - 1) {
			@content;
		}
	}
}

@mixin between($minValue, $maxValue, $dimension: width) {
	$dimensions: width, height;
	$min: $minValue;
	$max: $maxValue;
	$map: $width;

	@if not list.index($dimensions, $dimension) {
		@error '"#{$dimension}" is not a valid dimension. Please use one of these values: #{$dimensions}';
	}

	@if $dimension == height {
		$map: $height;
	}

	@if map.has-key($map, $min) {
		$min: map.get($map, $min);
	}

	@if map.has-key($map, $max) {
		$max: map.get($map, $max);
	}

	@media (min-#{$dimension}: $min) and (max-#{$dimension}: $max - 1) {
		@content;
	}
}

@mixin has-hover($selector: ':hover', $extraSelectors...) {
	@media (hover: hover) and (pointer: fine) {
		&#{$selector} {
			@content;
		}
		@for $i from 0 to list.length($extraSelectors) {
			&#{$extraSelectors} {
				@content;
			}
		}
	}
}
