@use '@/styles/utils/typography';
@use '@/styles/utils/layout';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

.section {
	background-color: var(--surface-primary);
	padding-top: var(--space-8xl);
	padding-bottom: var(--space-8xl);
}

.container {
	@include layout.max-width;

	> * + * {
		margin-top: var(--space-base);
	}
}

.accentEdge {
	@include element.accent-edge;
}

// .main code {
// 	font-family: inherit;
// 	background: var(--gray-alpha-100);
// 	padding: 2px 4px;
// 	border-radius: 4px;
// 	font-weight: 600;
// }

// .footer {
// 	grid-row-start: 3;
// 	display: flex;
// 	gap: 24px;
// }

// .footer a {
// 	display: flex;
// 	align-items: center;
// 	gap: 8px;
// }

// .footer img {
// 	flex-shrink: 0;
// }
