@use '@/styles/utils/typography';
@use '@/styles/utils/layout';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

.home {
	--flow-space: var(--space-lg);
}

.accentEdge {
	@include element.accent-edge;
}

.section {
	color: var(--text-primary);
	background-color: var(--surface-primary);
	padding-top: var(--space-8xl);
	padding-bottom: var(--space-8xl);
}

.container {
	@include layout.max-width;

	> * + * {
		margin-top: var(--flow-space);
	}
}

.heroSection {
	min-height: calc(100dvh - var(--header-height) - var(--space-4xl));
	display: grid;
	grid-template-rows: 1fr auto;
	padding-top: 0;
	padding-bottom: 0;

	> div:first-of-type {
		align-content: center;
	}
}

.heroContent {
	--hero-flow-space: var(--space-xl);

	margin-top: var(--hero-flow-space);
	margin-bottom: var(--hero-flow-space);

	> * + * {
		margin-top: var(--hero-flow-space);
	}

	@include viewport.breakpoint(xs) {
		--hero-flow-space: var(--space-4xl);
	}
}

.heroTitle {
	@include typography.headline(3xl);

	@include viewport.breakpoint(xs) {
		@include typography.display(sm);
	}

	.alt {
		font-family: var(--font-alt);
		text-transform: initial;
	}

	.right {
		display: block;
		text-align: right;
	}
}

.heroDetails > * + * {
	margin-top: var(--flow-space);
}

.heroSubtitle {
	@include typography.p(lg);
	color: var(--text-tertiary);
	max-width: 52ch;
}

.heroCopy {
	--column-width: 50ch;

	@include typography.p;
	max-width: var(--column-width);

	@include viewport.breakpoint(md) {
		column-count: 2;
		column-gap: var(--space-lg);
		max-width: calc(var(--column-width) * 2);
	}
}

.scrollContainer {
	@include layout.max-width;
	padding-bottom: clamp(var(--space-base), 4dvw, var(--space-lg));
}

.scroll {
	position: relative;
	padding: var(--space-base) 0;
	text-align: center;
	width: 100%;
}

.float {
	position: absolute;
	left: 0;
	right: 0;
	font-size: var(--text-xl);
	line-height: 0;
	animation: float 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.vertSection {
	background-color: var(--surface-primary);
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		padding-bottom: clamp(187px, 29dvw, 414px);
	}
}

.vertText {
	@include typography.display(lg);

	position: absolute;
	top: -17%;
	left: 51.5%;
	transform: translateX(-50%);
	writing-mode: vertical-rl;
	font-size: clamp(13.41rem, 21dvw, 29.23rem); // optical override for vertical text style alignment.
	user-select: none;

	@include viewport.breakpoint(xs) {
		left: 51%;
	}
}
