@use '@/styles/utils/layout';
@use '@/styles/utils/element';
@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.header {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: var(--space-base);
	align-items: start;

	@include layout.max-width(full);
	@include element.accent-edge;

	@include viewport.breakpoint(md) {
		height: var(--header-height);
	}

	@include viewport.breakpoint(2xl) {
		padding-left: var(--space-2xl);
		padding-right: var(--space-2xl);
	}
}

.logoContainer {
	display: flex;
	align-items: start;
	padding-top: var(--space-md);

	@include viewport.breakpoint(md) {
		padding-top: var(--space-lg);
	}
}

.logoIcon {
	--logo-size: 68px;

	width: var(--logo-size);
	height: var(--logo-size);
	transition: transform var(--duration-sm) ease-out;

	@include viewport.has-hover {
		transform: translateY(-2px);
	}
}

.logoText {
	padding-left: var(--space-sm);
	text-wrap: nowrap;
	line-height: 1;
	margin-top: -5px;

	@include viewport.breakpoint(md) {
		padding-left: var(--space-base);
		margin-top: -7px;
	}

	@include viewport.breakpoint(sm, max) {
		@include element.visually-hidden;
	}

	div:first-of-type {
		font-size: 3.52rem; // optical sizing to match icon
		font-weight: var(--font-weight-semiBold);
		margin-left: -2px;

		@include viewport.breakpoint(md) {
			font-size: 4.8rem;
		}
	}

	div:last-of-type {
		font-size: 1.8rem; // optical sizing to match icon
		font-weight: var(--font-weight-semiBold);
		letter-spacing: 2px;
		margin-top: 4px; // optical sizing to match icon

		@include viewport.breakpoint(md) {
			font-size: 2rem;
			margin-top: 6px;
		}
	}
}

.navContainer {
	--nav-item-spacing: clamp(var(--space-sm), 1.5vw, var(--space-md));
	--nav-vert-alignment-offset: 14px;

	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto;
	gap: var(--nav-item-spacing);
	padding-top: calc(var(--space-lg) + var(--nav-vert-alignment-offset)); // optical sizing
	text-align: center;
	user-select: none;

	@include viewport.breakpoint(xs, max) {
		--nav-vert-alignment-offset: 4px;
		padding-top: calc(var(--space-xl) + var(--nav-vert-alignment-offset));
		grid-template-columns: auto;
		justify-items: end;
	}

	@include viewport.breakpoint(md) {
		--nav-vert-alignment-offset: 35px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: var(--space-md);
		background-color: var(--color-primary);
		transform: skewX(-15deg);
		z-index: -1;

		@include viewport.breakpoint(md) {
			height: var(--space-lg);
		}
	}
}

.nav {
	--margin-offset: -24px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: var(--text-md);
	margin-left: var(--margin-offset);

	@include viewport.breakpoint(md) {
		--margin-offset: -34px;
	}

	@include viewport.breakpoint(xs, max) {
		order: 2;
		margin-right: -13px;
	}
}

.link {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-left: var(--nav-item-spacing);
	padding-right: var(--nav-item-spacing);
	text-transform: lowercase;

	@include typography.link-neutral;
}
