@use '@/styles/utils/layout';
@use '@/styles/utils/element';
@use '@/styles/utils/viewport';
@use '@/styles/utils/typography';

.footer {
	background-color: var(--surface-neutral);
	padding-block-start: var(--space-2xl);
	padding-block-end: var(--space-base);

	@include viewport.breakpoint(sm) {
		padding-block-start: var(--space-4xl);
	}

	@include layout.grid;
}

.accentEdge {
	@include element.accent-edge;
}

.accentEdgeAlt {
	@include element.accent-edge(alt);
}

.container {
	margin-inline: auto;
	padding-inline: var(--gutter);
	width: min(1490px, 100%);
	display: grid;
	gap: var(--gutter);
	place-items: center;

	@include viewport.breakpoint(xs) {
		justify-items: start;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
			'logo contact'
			'social copyright';
	}

	@include viewport.breakpoint(sm) {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			'logo contact .'
			'. copyright social';
	}
}

.contactContainer {
	max-width: var(--optimal-line-length-base);
	text-align: center;

	@include viewport.breakpoint(xs) {
		grid-area: contact;
		grid-column: 2 / -1;
		text-align: left;
	}

	h3 {
		@include typography.headline(sm);
		margin-block-end: var(--space-base);
	}

	a {
		@include typography.link(underline);
	}
}

.copyContainer {
	@include typography.p(sm);
	color: var(--text-tertiary);

	@include viewport.breakpoint(xs) {
		grid-area: copyright;
		margin-block-start: 12px; // optical alignment to logos
	}

	@include viewport.breakpoint(xs, max) {
		order: 2;
		text-align: center;
	}
}

.socialContainer {
	display: grid;
	grid-auto-flow: column;
	justify-self: center;

	@include viewport.breakpoint(xs) {
		grid-area: social;
	}
}

.logoContainer {
	@include viewport.breakpoint(xs) {
		grid-area: logo;
	}

	@include viewport.breakpoint(xs, max) {
		margin-block-end: var(--space-lg);
	}
}

.logoLink {
	position: relative;
	display: grid;
	grid-template: 'logoContainer';
	place-items: center;

	> * {
		grid-area: logoContainer;
	}

	@include viewport.has-hover(':hover', ':focus-visible') {
		.logoIcon {
			transition: transform var(--duration-md) var(--ease-out);
			transform: var(--button-raise);

			&:active {
				transition: transform 0s;
				transform: var(--button-raise-press);
			}
		}
	}

	&:focus-visible {
		outline: 2px solid -webkit-focus-ring-color;
		outline-offset: 8px;
		border-radius: 1px;
	}
}

.logoCircle {
	width: 100%;
	height: 100%;
	fill: var(--text-tertiary);
	transform-origin: center;
	animation: rotate 120s linear infinite;
}

.logoIcon {
	--logo-size: 68px;

	position: absolute;
	width: var(--logo-size);
	height: var(--logo-size);
	margin-inline-start: 4px;
	margin-block-end: 4px;
	transition: transform var(--duration-md) var(--ease-out);
}

.icon {
	padding: var(--space-sm);
	fill: var(--text-tertiary);
	transition: fill var(--duration-md) var(--ease-out), transform var(--duration-md) var(--ease-out);

	@include viewport.has-hover(':hover', ':focus-visible') {
		fill: var(--text-primary);
		transform: var(--button-raise);

		&:active {
			transition: transform 0s;
			transform: var(--button-raise-press);
		}
	}

	svg {
		--svg-size: var(--text-md);

		width: var(--svg-size);
		height: var(--svg-size);
	}
}
