@use '@/styles/utils/layout';
@use '@/styles/utils/element';
@use '@/styles/utils/viewport';
@use '@/styles/utils/typography';

.footer {
	background-color: var(--surface-neutral);
	padding-top: var(--space-4xl);
	padding-bottom: var(--space-base);

	@include element.accent-edge;
}

.container {
	@include layout.max-width(xl);

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(2, auto);
	align-items: center;
	gap: var(--space-2xl);
	grid-template-areas:
		'logo contact .'
		'. copyright social';
}

.contactContainer {
	grid-area: contact;
	max-width: 45ch;

	h3 {
		@include typography.headline(sm);
		margin-bottom: var(--space-base);
	}
	a {
		@include typography.link;
	}
}

.copyContainer {
	@include typography.p(sm);
	grid-area: copyright;
	color: var(--text-tertiary);
}

.socialContainer {
	grid-area: social;
	display: grid;
	grid-auto-flow: column;
}

.logoContainer {
	grid-area: logo;
	position: relative;
	width: 160px;
	height: 160px;
}

.logoCircle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: var(--text-tertiary);
	transform-origin: center;
	animation: rotate 120s linear infinite;
}

.logoIcon {
	--logo-size: 68px;

	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% + 3px);
	width: var(--logo-size);
	height: var(--logo-size);
	transform: translate(-50%, -50%);
	transition: transform var(--duration-sm) ease-out;

	@include viewport.has-hover {
		transform: translate(-50%, -54%);
	}
}

.icon {
	padding: var(--space-sm);
	fill: var(--text-tertiary);
	transition: fill var(--duration-sm) ease-out, transform var(--duration-sm) ease-out;

	@include viewport.has-hover(':hover', ':focus-visible') {
		fill: var(--text-primary);
		transform: translateY(-2px);
	}

	svg {
		--svg-size: var(--text-md);

		width: var(--svg-size);
		height: var(--svg-size);
	}
}
