@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.meta {
	@include typography.p(sm);
	color: inherit;
	display: flex;
	font-weight: var(--font-weight-semiBold);
}

.iconContainer {
	margin-block-start: 0.18lh;
	padding-inline-end: 0.25lh;
	flex-shrink: 0;

	@include viewport.breakpoint(sm) {
		margin-block-start: 0.23lh;
	}

	&.iconAccent {
		color: var(--icon-accent);

		[data-theme='y'] & {
			color: currentColor;
		}

		[data-theme='y'] [data-section='dark'] & {
			color: var(--icon-accent);
		}
	}
}

.metaList {
	display: flex;
	flex-flow: wrap;
}

.bullet {
	--bullet-space: 0.25lh;

	padding-inline: var(--bullet-space);
}
