@use '@/styles/utils/typography';
@use '@/styles/utils/viewport';

.meta {
	@include typography.p(sm);
	color: inherit;
	display: flex;
	font-weight: var(--font-weight-semiBold);
}

.iconContainer {
	margin-top: var(--space-2xs);
	padding-right: var(--space-2xs);
	flex-shrink: 0;

	@include viewport.breakpoint(1300px) {
		margin-top: calc(var(--space-2xs) + 1px); // optically alignment icon
	}

	&.iconAccent {
		color: var(--icon-accent);
	}
}

.metaList {
	display: flex;
	flex-flow: wrap;
}

.bullet {
	--bullet-space: var(--space-2xs);

	padding-right: var(--bullet-space);
	padding-left: var(--bullet-space);
}
