@use '@/styles/utils/typography';
@use '@/styles/utils/layout';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

.projectPage {
	// PAGE VARIABLES
	--flow-space-base: 1lh;
	--hero-spacing: 1lh;
	--section-spacing: 4lh;

	@include viewport.breakpoint(xs) {
		--hero-spacing: 2lh;
	}

	@include viewport.breakpoint(md) {
		--hero-spacing: 4lh;
	}

	// TYPOGRAPHY
	p {
		@include typography.p;
		max-width: var(--optimal-line-length-base);
	}

	.h1,
	.h2 {
		max-width: var(--optimal-line-length-2xs);
	}

	.h1 {
		@include typography.headline(3xl);
	}

	.h2 {
		@include typography.headline(2xl);
	}

	.h3 {
		@include typography.headline(xl);
		max-width: var(--optimal-line-length-xs);
	}

	.subhead {
		@include typography.p(lg);
		max-width: var(--optimal-line-length-sm);
		color: var(--text-tertiary);
		text-wrap: balance;
	}

	.altFont {
		@include typography.alt-font;
	}

	[data-section='dark'] {
		background-color: var(--surface-primary);
	}
}

// LAYOUT
.containerGrid {
	@include layout.grid;

	> * + * {
		margin-block-start: var(--flow-space, var(--flow-space-base));
	}
}

.heroSection {
	--hero-offset: calc(var(--hero-spacing) * 2);

	background-color: var(--surface-primary);
	padding-block-start: var(--hero-spacing);
	padding-block-end: var(--hero-offset);

	@include viewport.breakpoint(md) {
		padding-block-end: calc(var(--hero-offset) + 1lh); //offset for metabox
	}
}

.section {
	padding-block: var(--section-spacing);

	[data-section='dark'] & {
		padding-block-start: 0;

		&:last-child {
			padding-block-end: calc(var(--section-spacing) * 1.5);

			@include viewport.breakpoint(xl) {
				padding-block-end: calc(var(--section-spacing) * 2);
			}
		}
	}
}

.footer {
	padding-block-end: calc(var(--section-spacing) * 1.5);

	@include viewport.breakpoint(xl) {
		padding-block-start: calc(var(--section-spacing) * 1.5);
		padding-block-end: calc(var(--section-spacing) * 2);
	}
}

// alters the margin bottom of certain elements to account for base flow space of following elements. Use this for the last large element that is not text, like an image or a SideImage component. This will add some extra space between it and the following text element.
.flowOffset {
	&:not(:last-child) {
		margin-block-end: calc(var(--flow-space) - var(--flow-space-base));
	}
}

.heroOffset {
	@include viewport.breakpoint(md) {
		margin-block-start: calc(var(--hero-spacing) * -1);
	}
}

// COMPONENT SPECIFIC
.imageContainer {
	--flow-space: 2lh;

	&:not(:last-child) {
		&:has(figcaption) {
			margin-block-end: calc(var(--flow-space) - var(--flow-space-base) - 1lh);
		}
	}
}

.heroImage {
	grid-column: breakout;

	@include viewport.breakpoint(md, max) {
		z-index: 1;
		grid-column: full;
	}
	@include viewport.breakpoint(md) {
		figure > div {
			box-shadow: var(--shadow-box);
		}
	}
}

.callout {
	--flow-space: 4lh;

	@include viewport.breakpoint(sm) {
		--flow-space: 6lh;
	}
}

.sideImagesContainer,
.multiImagesContainer {
	--flow-space: 3lh;

	@include viewport.breakpoint(sm) {
		--flow-space: 4lh;
	}

	> * + * {
		margin-block-start: var(--flow-space, var(--flow-space-base));
	}
}

.sideImagesContainer > *:has(figcaption) + * {
	@include viewport.breakpoint(sm, max) {
		margin-block-start: calc(var(--flow-space, var(--flow-space-base)) - 1lh);
	}
}

// ELEMENTS
.link {
	@include typography.link(underline);
}

.accentEdge {
	@include element.accent-edge;
}

// .gradientBg {
// 	&::before {
// 		--gradient-width: 200dvw;
// 		--gradient-height: var(--gradient-width);
// 		--gradient-location: calc(0% - var(--gradient-height) / 1.5);
// 		--gradient-blur: 70px;

// 		content: '';
// 		position: absolute;
// 		top: var(--gradient-location);
// 		left: 50%;
// 		transform: translateX(-50%);
// 		width: var(--gradient-width);
// 		height: var(--gradient-height);
// 		background-color: var(--p-color-gray-900);
// 		border-radius: 50%;
// 		will-change: filter;
// 		filter: blur(var(--gradient-blur));

// 		@include viewport.breakpoint(xs) {
// 			--gradient-location: calc(0% - var(--gradient-height) / 1.3);
// 		}

// 		@include viewport.breakpoint(sm) {
// 			--gradient-width: 130dvw;
// 			--gradient-height: calc(var(--gradient-width) / 2);
// 			--gradient-location: calc(0% - var(--gradient-height) / 2.5);
// 		}

// 		@include viewport.breakpoint(lg) {
// 			--gradient-width: 1200px;
// 		}

// 		@include viewport.breakpoint(xl) {
// 			--gradient-width: 2400px;
// 			--gradient-location: calc(0% - var(--gradient-height) / 1.3);
// 		}
// 	}
// }

// .linearGradientTest {
// 	background-image: linear-gradient(
// 		350deg,
// 		hsl(0deg 0% 0%) 0%,
// 		hsl(0deg 0% 1%) 20%,
// 		hsl(0deg 0% 2%) 29%,
// 		hsl(0deg 0% 3%) 36%,
// 		hsl(0deg 0% 4%) 43%,
// 		hsl(0deg 0% 5%) 50%,
// 		hsl(0deg 0% 6%) 57%,
// 		hsl(0deg 0% 7%) 64%,
// 		hsl(0deg 0% 8%) 71%,
// 		hsl(0deg 0% 9%) 80%,
// 		hsl(0deg 0% 10%) 100%
// 	);
// }

// .linearGradientTest {
// 	position: relative;

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 610px;
// 		background-image: linear-gradient(
// 			0deg,
// 			hsl(0deg 0% 0%) 0%,
// 			hsl(0deg 0% 1%) 20%,
// 			hsl(0deg 0% 2%) 29%,
// 			hsl(0deg 0% 3%) 36%,
// 			hsl(0deg 0% 4%) 43%,
// 			hsl(0deg 0% 5%) 50%,
// 			hsl(0deg 0% 6%) 57%,
// 			hsl(0deg 0% 7%) 64%,
// 			hsl(0deg 0% 8%) 71%,
// 			hsl(0deg 0% 9%) 80%,
// 			hsl(0deg 0% 10%) 100%
// 		);
// 	}
// }

// .gradientBg {
// 	position: absolute;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	bottom: -500px;
// 	overflow: hidden;
// 	width: 100%;
// 	height: 500px;

// 	&::after {
// 		--gradient-width: 200dvw;
// 		--gradient-height: var(--gradient-width);
// 		--gradient-location: calc(0% - var(--gradient-height) / 1.5);
// 		--gradient-blur: 70px;

// 		content: '';
// 		position: absolute;
// 		top: var(--gradient-location);
// 		left: 50%;
// 		transform: translateX(-50%);
// 		width: var(--gradient-width);
// 		height: var(--gradient-height);
// 		background-color: var(--p-color-gray-900);
// 		border-radius: 50%;
// 		will-change: filter;
// 		filter: blur(var(--gradient-blur));

// 		@include viewport.breakpoint(xs) {
// 			--gradient-location: calc(0% - var(--gradient-height) / 1.3);
// 		}

// 		@include viewport.breakpoint(sm) {
// 			--gradient-width: 130dvw;
// 			--gradient-height: calc(var(--gradient-width) / 2);
// 			--gradient-location: calc(0% - var(--gradient-height) / 2.5);
// 		}

// 		@include viewport.breakpoint(lg) {
// 			--gradient-width: 1200px;
// 		}

// 		@include viewport.breakpoint(xl) {
// 			--gradient-width: 2400px;
// 			--gradient-location: calc(0% - var(--gradient-height) / 1.3);
// 		}
// 	}
// }
