@use '@/styles/utils/typography';
@use '@/styles/utils/layout';
@use '@/styles/utils/viewport';
@use '@/styles/utils/element';

// TODO: Make containerGrid a mixin like max-width and apply to other home.

.projectPage {
	p {
		@include typography.p;
		@include typography.optimal-text-length;
	}

	.h1,
	.h2,
	.h3 {
		@include typography.optimal-headline-length;
	}

	.h1 {
		@include typography.headline(3xl);
	}

	.h2 {
		@include typography.headline(2xl);
	}

	.h3 {
		@include typography.headline(xl);
	}

	.subhead {
		@include typography.p(lg);
		max-width: 35ch;
		color: var(--text-tertiary);
	}

	.altFont {
		font-family: var(--font-alt);
		font-weight: var(--font-weight-black);
		line-height: var(--line-height-2xs);
	}
}

.heroSection {
	background-color: var(--surface-primary);
	padding-top: var(--space-4xl);
	padding-bottom: calc(var(--space-8xl) + var(--space-2xl));
}

.section {
	background-color: var(--surface-primary);
	padding-top: var(--space-8xl);
	padding-bottom: var(--space-8xl);

	&.heroOffset {
		padding-top: 0;
		margin-top: calc(var(--space-8xl) * -1);
	}
}

.containerGrid {
	--flow-space-base: 1lh;
	--gutter: clamp(var(--space-base), 4dvw, var(--space-lg));
	--full: minmax(var(--gutter), 1fr);
	--content: min(var(--viewport-md), 100% - var(--gutter) * 2);
	--breakout: minmax(0, var(--space-3xl));

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[breakout-start] var(--breakout)
		[content-start] var(--content) [content-end]
		var(--breakout) [breakout-end]
		var(--full) [full-end];

	> * {
		grid-column: content;
	}

	.breakout {
		grid-column: breakout;
	}

	.full {
		grid-column: full;
	}

	> * + * {
		margin-block-start: var(--flow-space, var(--flow-space-base));
	}
}

// TODO: Make this a single class instead
// Todo: only apply figcaption to imageContainer

// alters the margin bottom of certain elements to account for base flow space of following elements
.flowOffset {
	&:not(:last-child) {
		margin-block-end: calc(var(--flow-space) - var(--flow-space-base));
	}
}

.imageContainer {
	--flow-space: 2lh;

	&:not(:last-child) {
		&:has(figcaption) {
			margin-block-end: calc(var(--flow-space) - var(--flow-space-base) - 1lh); //margin reduction for captions
		}
	}
}

.callout {
	--flow-space: 8lh;
}

.sideImage {
	--flow-space: 8lh;
}

.link {
	@include typography.link(underline);
}

.accentEdge {
	@include element.accent-edge;
}
