.componentGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	gap: 0.5lh;
	margin: 1lh auto;
	max-width: 600px;
	background-color: #f7f7f7;
	padding: 0.5lh;
	border-radius: 12px;
}

.component {
	place-items: center;
	padding: 1lh;

	button {
		padding: 0.25lh;

		&:not(:first-of-type) {
			margin-inline: 0.25lh;
		}
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				cursor: pointer;
			}
			&:active {
				transform: translateY(2px);
			}
		}
	}
}

.full {
	grid-column: -1 / 1;
	border-top: 1px solid purple;
}
